[submodule "lib/voltspot"]
	path = lib/voltspot
	url = git@github.com:meltonbw/voltspot.git
[submodule "lib/hotspot"]
	path = lib/hotspot
	url = git@github.com:meltonbw/hotspot.git
[submodule "lib/mcpat-riscv"]
	path = lib/mcpat-riscv
	url = git@github.com:meltonbw/mcpat-riscv.git
