NTILES=1
N_MEM_CHANNELS=1
NBANKS_PER_MEM_CHANNEL=1
FETCH_WIDTH=1
RETIRE_WIDTH=1

# Don't change CACHE_BLOCK_BYTES; rocket-chip doesn't like it
CACHE_BLOCK_BYTES=64
L1D_MSHRS=2
L1D_SETS=64
L1D_WAYS=4
DTLB_ENTRIES=8
L1I_SETS=64
L1I_WAYS=4
ITLB_ENTRIES=8
#L2_CAPACITY_IN_KB=2048
L2_CAPACITY_IN_KB=64
L2_WAYS=8

# The following parameters are not currently compatible with GEM5
XLEN=64
DMA_TRANSACTORS=3
PHYS_ADDR_LEN=32
PAGE_IDX_LEN=12
FAST_LW=true
FAST_LB=false
USE_FPU=true
FAST_MUL_DIV=true
FDIV_SQRT=true
USE_ATOMICS=true
L1D_ID_BITS=0
L1I_BUFFER_WAYS=false
L1I_ID_BITS=0
L2_SPLIT_METADATA=false
RESET_VECTOR=0x1000
